body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: lavender;
}

canvas {
  width: 100%;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: hotpink;
}

.main {
  background: hotpink;
  padding: 50px;
  border-radius: 4px;
  display: flex;
  margin: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

a {
  width: fit-content;
  display: block;
  text-decoration: unset;
  font-size: 20px;
  margin: 5px 0;
}

a:hover {
  color: #3f51b5;
}

@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: 'Grotesque';
  src: url('../public/fonts/BasementGrotesque-Black_v1.202.woff') format('woff');
}
* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.scroll > div {
  scroll-snap-align: start;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #101010;
  background: radial-gradient(circle at bottom center, #212121 0%, #101010 80%);
  font-family: 'Grotesque', 'Inter var', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.dot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  pointer-events: none;
  position: sticky;
  top: 0px;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: #a0a0a0;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;

  &.github {
    &:hover {
      cursor: pointer;
    }
  }

  &.rock {
    max-width: 800px;
  }
}

.dot > h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.loading {
  color: white;
  display: flex;
  width: 9em;
  position: absolute;
  top: 10em;
  // z-index: 2;
}

.floating_home {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3em;
  transition: 0.2 ease-in-out;
  display: flex;
  &:hover {
    cursor: pointer;
  }

  .floating_home_btn {
    transform: rotate(180deg);
  }
}

.menu {
  position: absolute;
  left: 40vw;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8em;

  a {
    font-size: 3em;
    text-transform: uppercase;
  }
}

.welcome {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);

  .welcome_text {
    outline: none;
    font-family: Grotesque;
    background: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    color: white;
    // text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-size: 20em;
    &:hover {
      cursor: pointer;
    }
    &:disabled {
      color: gray;
    }
  }

  .welcome_text--fill {
    outline: none;
    font-family: Grotesque;
    background: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    color: white;
    font-size: 20em;
    position: absolute;
  }
}

.glitch {
  font-size: 4em;
  color: #ff00ff !important;
  position: relative;
  // top: -1em;
  &:before,
  &:after {
    content: attr(data-before);
    position: absolute;
    left: 0;
  }
  &:before {
    color: #00ffff;
  }
  &:after {
    color: white;
  }
  &:hover {
    cursor: pointer;
    &:before {
      animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
    }
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
    transform: skewX(10deg);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media only screen and (max-width: 1250px) {
  .welcome {
    .welcome_text {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .caption {
    font-size: 4em;
  }
}

@media only screen and (max-width: 800px) {
  .caption {
    font-size: 3em;
  }
  .dot > h1 {
    font-size: 3em;
  }

  .menu {
    top: 31vh;
    left: 25vw;
  }
}

@media only screen and (max-width: 700px) {
  .caption {
    font-size: 2em;
  }
  .dot > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .caption {
    font-size: 2em;
    position: fixed;
    margin: 0;
    top: 1em;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .menu {
    top: 13em;
    left: 32vw;
    a {
      font-size: 2em;
    }
  }
  .dot > h1 {
    font-size: 3em;
  }
}
